<h1>Contact Me</h1>
<p>If you'd like to get in touch, here’s how you can reach me:</p>

<ul>
  <li><strong>Email:</strong> jalal313zirak@gmail.com</li>
  <li><strong>GitHub:</strong> <a href="https://github.com/J3l3l" target="_blank">github.com/J3l3l</a></li>
  <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ahmad-zirak-1a206025b" target="_blank">linkedin.com/in/ahmad-zirak-1a206025b</a></li>
</ul>

<%= link_to "Back to Home", root_path %>
