<h1>My Projects</h1>
<p>Here are a few of the projects I’ve worked on:</p>

<div class="project">
  <h3>DevPortfolio</h3>
  <p>A simple personal portfolio site built with Ruby on Rails. Includes custom routes, ERB templating, and basic CSS styling.</p>
</div>

<div class="project">
  <%= image_tag "Pokemon.png", width: "150px", alt: "Pokémon Logo" %>
  <h3>Pokémon Team Builder</h3>
  <p>A dynamic web tool that lets users build custom Pokémon teams using the PokéAPI. Built in Ruby using HTTParty and displayed in the terminal using text UI.</p>
</div>

<div class="project">
<%= image_tag "groupchat.png", width: "150px", alt: "Chat App Icon" %>
  <h3>Group Chat App</h3>
  <p>A client-server application built with Python sockets. Handles multiple users, message routing, and graceful disconnection.</p>
</div>

<%= link_to "Back to Home", root_path %>
